<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Scrollable page content -->
<div class="page" data-page="about">
  <!-- Top Navbar in Material Theme -->
  <div class="navbar">
    <div class="navbar-inner">
      <!-- Navbar Left Block -->
      <div class="center">Schafkopf Calculator</div>
      <!-- Navbar Right Block -->
      <div class="right">
        <a href="#" class="link icon-only open-panel">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- Toolbar including Tabbar in Material Theme -->
  <div class="toolbar tabbar">
    <div class="toolbar-inner">
      <!-- Toolbar/Tabbar links -->
      <a href="index.html" class="tab-link active">
        <i class="fa fa-home"></i>
      </a>
      <a href="tablesettings.html" class="tab-link">
        <i class="fa fa-cog"></i>
      </a>
      <a href="tablehistory.html" class="tab-link">
        <i class="fa fa-history"></i>
      </a>
      <a href="tableaddgame.html" class="tab-link">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="page-content">
    <p>Insert About Content here</p>
    <a href="index.html" class="back">Home</a>
  </div>
</div>
